<div class="navbar">
  <%= render "shared/navbar" %>
</div>

<div class="page-area">
  <div class="page-header">
    <h1>Portfolio</h1>
  </div>
  <div class="page-body">
    <a class="portfolio-card" href="https://www.buildaware.xyz/">
      <%= image_tag("BuildAware.png", :alt=> "BuildAware") %>
      <h3 class="color-blue">BuildAware</h3>
      <p>This was our final project in my bootcamp. It is designed to help kids build awareness of mental health</p>
    </a>
    <a class="portfolio-card" href="https://castlaway-andrewhulme88-cc8447868504.herokuapp.com/">
      <%= image_tag("castlaway.png", :alt=> "CastlAway") %>
      <h3 class="color-blue">CastlAway</h3>
      <p>An Air BnB style app with a twist. This was the first team project I worked on in my bootcamp</p>
    </a>
    <a class="portfolio-card" href="">
      <%= image_tag("BluskiLogo.jpg", :alt=> "Bluski Plumbing Logo") %>
      <h3 class="color-blue">Bluski Plumbing Website</h3>
      <p>A website I made for a friends plumbing business. Currently being updated.</p>
    </a>
    <a class="portfolio-card" href="">
      <%= image_tag("LogoWeb.png", :alt=> "Baywood Carpentry Logo") %>
      <h3 class="color-blue">Baywood Carpentry Website</h3>
      <p>Currently being updated</p>
    </a>
  </div>
</div>
